@model ZeroChaos.Business.Entities.InvoicePdfGenerationDetails
<style>
    * {
        font-family: 'Times New Roman', Times, serif;
    }

    .display-inline-block {
        display: inline-block;
    }

    .footer {
        font-size: small;
        padding-left: 5px;
        padding-top: 5px;
    }
</style>
<div class="footer">
    <div style="width:30%" class="display-inline-block">
        <label>
            Billing Inquiries:
        </label>
        <label style="color:blue; text-decoration:underline">
            invoicing@zerochaos.com
        </label>
    </div>
    <div style="width:20%" class="display-inline-block">
        T: 1-877-937-6242
    </div>
    <div class="display-inline-block">
        Fax: 1-877-888-9376
    </div>
</div>
