@inherits Westwind.RazorHosting.RazorTemplateBase
<style>
* {
	font-family: 'Times New Roman', Times, serif;
}
body{
    font-size: 20px;
}
.body {
    width: 85%;
    margin: 0 auto;
}
.no-page-brake-after{
	page-break-after: avoid !important;
}
.no-page-brake-before{
	page-break-before: avoid !important;
}
table {
	border: 3px solid #000;
	border-collapse: collapse;
	font-size: 20px;
	page-break-before: always;
	page-break-after: always;
	width: 100%;
	table-layout: fixed;
}
table .thead.th {
	text-align: center;
	font-weight: 600;
	height: 64px;
}
table .th {
	border: 3px solid #000;
	border-bottom-width: 3px;
}
table .tfoot.th {
	border: none !important;
	height: 75px;
	font-weight: 300;
}
table .tbody.td {
    border: 3px solid #000;
    border-top: none;
    border-bottom: none;
		padding: 5px;
		height: 82px;
}
table > tr.tfoot.row ~ tr.tfoot.row {
    border: none;
}
table > tr.tfoot.row {
    border-top: 3px solid black;
}
</style>

<div class="body" id="body"></div>

<script type="text/javascript">
	var config = {
		columns: 4,
		maxRows: 7,
		footerRows: 2,
		columnWidths: [260, 108, 135, 120],
		headerColumnStyles: {
			col1:[],
			col2:[],
			col3:[],
			col4:[]
		},
		bodyColumnStyles:{
			col1:[],
			col2:[
				{
					style:"text-align",
					value:"right"
				},
				{
					style:"padding-right",
					value:"5px"
				}
			],
			col3:[
				{
					style:"text-align",
					value:"right"
				},
				{
					style:"padding-right",
					value:"5px"
				}
			],
			col4:[
				{
					style:"text-align",
					value:"right"
				},
				{
					style:"padding-right",
					value:"5px"
				}
			]
		},
		footerColumnStyles:{
			col1:[
				{
					style:"text-align",
					value:"center"
				}
			],
			col2:[
				{
					style:"text-align",
					value:"left"
				}
			],
			col3:[
				{
					style:"text-align",
					value:"left"
				}
			],
			col4:[
				{
					style:"text-align",
					value:"center"
				}
			]
		}
	};
	var headerContent = [
		"Benämning",
		"Lev,Enh.",
		"à-pris",
		"Summa"
	];
	var data = [
		{
			"Benämning":"Recruitment Fee Gtogowski Krzysztof [409420] Polska RPO Inter Paper - International Paper Polska RPO",
			"Lev,Enh.":"1.00",
			"à-pris":"PLN 3,091.00",
			"Summa":"PLN 3,091.00"
		},
			{
				"Benämning":"Recruitment Fee Przybylska, Katarzyna [409421] Polska RPO Inter Paper - International Paper Polska RPO",
				"Lev,Enh.":"1.00",
				"à-pris":"PLN 1,140.00",
				"Summa":"PLN 1,140.00"
			},
			{
				"Benämning":"Recruitment Fee Maziarz, Norbert [409422] Polska RPO Inter Paper - International Paper Polska RPO",
				"Lev,Enh.":"1.00",
				"à-pris":"PLN 13,090.00",
				"Summa":"PLN 13,090.00"
			},
			{
				"Benämning":"Recruitment Fee Ubanczyk, Jakub [409423] Polska RPO Inter Paper - International Paper Polska RPO",
				"Lev,Enh.":"1.00",
				"à-pris":"PLN 13,600.00",
				"Summa":"PLN 13,600.00"
			},
			{
				"Benämning":"Recruitment Fee Ronda, Tomasz [409424] Polska RPO Inter Paper - International Paper Polska RPO",
				"Lev,Enh.":"1.00",
				"à-pris":"PLN 19,356.00",
				"Summa":"PLN 19,356.00"
			},
			{
				"Benämning":"Recruitment Fee Bogdat, Piotr [409425] Polska RPO Inter Paper - International Paper Polska RPO",
				"Lev,Enh.":"1.00",
				"à-pris":"PLN 9,000.00",
				"Summa":"PLN 9,000.00"
			},
			{
				"Benämning":"RPO Fee Reversal [409432] Polska RPO Inter Paper - International Paper Polska RPO",
				"Lev,Enh.":"1.00",
				"à-pris":"-PLN 13,600.00",
				"Summa":"-PLN 13,600.00"
			},
			{
				"Benämning":"RPO Fee Reversal [409433] Polska RPO Inter Paper - International Paper Polska RPO",
				"Lev,Enh.":"1.00",
				"à-pris":"-PLN 19,356.00",
				"Summa":"-PLN 19,356.00"
			},
			{
				"Benämning":"RPO Fee Reversal [409434] Polska RPO Inter Paper - International Paper Polska RPO",
				"Lev,Enh.":"1.00",
				"à-pris":"-PLN 9,000.00",
				"Summa":"-PLN 9,000.00"
			},
			{
				"Benämning":"RPO Fee Reversal [409435] Polska RPO Inter Paper - International Paper Polska RPO",
				"Lev,Enh.":"1.00",
				"à-pris":"-PLN 12,000.00",
				"Summa":"-PLN 12,000.00"
			},
			{
				"Benämning":"RPO Fee Reversal [409436] Polska RPO Inter Paper - International Paper Polska RPO",
				"Lev,Enh.":"1.00",
				"à-pris":"-PLN 15,300.00",
				"Summa":"-PLN 15,300.00"
			},
			{
				"Benämning":"RPO Fee Reversal [409437] Polska RPO Inter Paper - International Paper Polska RPO",
				"Lev,Enh.":"1.00",
				"à-pris":"-PLN 17,000.00",
				"Summa":"-PLN 17,000.00"
			},
			{
				"Benämning":"Recruitment Fee Wojarski, Maciej [409426] Polska RPO Inter Paper - International Paper Polska RPO",
				"Lev,Enh.":"1.00",
				"à-pris":"PLN 12,000.00",
				"Summa":"PLN 12,000.00"
			},
			{
				"Benämning":"Recruitment Fee Ryk, Agata [409427] Polska RPO Inter Paper - International Paper Polska RPO",
				"Lev,Enh.":"1.00",
				"à-pris":"PLN 15,300.00",
				"Summa":"PLN 15,300.00"
			},
			{
				"Benämning":"Recruitment Fee Szyszko, Wojciech [409428] Polska RPO Inter Paper - International Paper Polska",
				"Lev,Enh.":"1.00",
				"à-pris":"PLN 17,000.00",
				"Summa":"PLN 17,000.00"
			},
			{
				"Benämning":"RPO Fee Krzysztof Reversal [409429] Polska RPO Inter Paper - International Paper Polska RPO",
				"Lev,Enh.":"1.00",
				"à-pris":"-PLN 3,091.00",
				"Summa":"-PLN 3,091.00"
			},
			{
				"Benämning":"RPO Fee Katarzyna Reversal [409430] Polska RPO Inter Paper - International Paper Polska RPO",
				"Lev,Enh.":"1.00",
				"à-pris":"-PLN 1,140.00",
				"Summa":"-PLN 1,140.00"
			},
			{
				"PO Line Item":"",
				"Benämning":"RPO Fee Reversal [409431] Polska RPO Inter Paper - International Paper Polska RPO",
				"Lev,Enh.":"1.00",
				"à-pris":"-PLN 13,090.00",
				"Summa":"-PLN 13,090.00"
			}
	];
	var footerContent = [
		{
			col1:"Netto",
			col2:"Moms",
			col3:"Moms",
			col4:"Att betala",
		},
		{
			col1:"PLN 0.00",
			col2:"0.00%",
			col3:"PLN 0.00",
			col4:"PLN 0.00"
		}
	];

	function initRows(){
		if(data.length%config.maxRows !== 0){
			var emptyRowsNeeded = config.maxRows - (data.length % config.maxRows);
			for(var i=0;i<emptyRowsNeeded;i++){
				data.push({"empty":true});
			}
		}
	}

	function createHeader (table) {
		var tr = document.createElement('tr');
		for(var i=0;i<config.columns;i++){
			var td = document.createElement('td');
			td.className += "thead th";
			td.style.width = config.columnWidths[i];
			for(var c=0;c<config.headerColumnStyles["col"+(i+1)].length;c++){
				td.style[config.headerColumnStyles["col"+(i+1)][c].style] = config.headerColumnStyles["col"+(i+1)][c].value;
			}
			var text = document.createTextNode(headerContent[i]);
			td.appendChild(text);
			tr.appendChild(td);
		}
		table.appendChild(tr);
		return table;
	}

	function createBody (index,table) {
		for(var c=index;c<index+config.maxRows;c++){
			var tr = document.createElement('tr');
			for(var i=0;i<config.columns;i++){
				var td = document.createElement('td');
				td.className += "tbody td";
				for(var j=0;j<config.bodyColumnStyles["col"+(i+1)].length;j++){
					td.style[config.bodyColumnStyles["col"+(i+1)][j].style] = config.bodyColumnStyles["col"+(i+1)][j].value;
				}
				if(data[c].empty === true){
					var text = document.createTextNode("\u00A0");
				}else{
					var text = document.createTextNode(data[c][headerContent[i]]);
				}
				td.appendChild(text);
				tr.appendChild(td);
			}
			table.appendChild(tr);
		}
		return table;
	}

	function createFooter (withContent,table) {
		for(var c=0;c<config.footerRows;c++){
			var tr = document.createElement('tr');
			tr.className += "tfoot row";
			for(var i=0;i<config.columns;i++){
				var td = document.createElement('td');
				td.className += "tfoot th";
				for(var j=0;j<config.footerColumnStyles["col"+(i+1)].length;j++){
					td.style[config.footerColumnStyles["col"+(i+1)][j].style] = config.footerColumnStyles["col"+(i+1)][j].value;
				}
				var text = (withContent === true) ? document.createTextNode(footerContent[c]["col"+(i+1)]) : document.createTextNode("\u00A0");
				td.appendChild(text);
				tr.appendChild(td);
			}
			table.appendChild(tr);
		}
		return table;
	}

	initRows();

	for(var i=0;i<data.length/config.maxRows;i++) {
		var nTable = document.createElement('table');
		nTable = createHeader(nTable);
		nTable = createBody(i*config.maxRows, nTable);
		nTable = createFooter(i===(data.length/config.maxRows-1), nTable);
		if(i===(data.length/config.maxRows-1)) {
			nTable.className += "no-page-brake-after";
		}
		if(i===0) {
			nTable.className += "no-page-brake-before";
		}
		document.getElementById("body").appendChild(nTable);
	}
</script>
