@inherits Westwind.RazorHosting.RazorTemplateBase

<style>
* {
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}
body{
  font-size: 20px;
}

.header {
  width: 85%;
  margin:25px auto 0;
}
.row {
  height: 165px;
}
.row-sm .round-box{
  height: 49%;
  margin-bottom: 1%;
}
.row-lg .round-box{
  height: 100%;
}
.row-lg {
margin-bottom: 20px;
}
.col-100, .col-50, .col-60, .col-40 {
  float: left;
}

.round-box {
  border: 4px solid #000;
  border-radius: 12px;
  padding: 12px;
}

.col-100 {
  width: 100%;
}
.col-60 {
  width: 59.5%;
  margin: 0 0.25%
}
.col-50 {
  width: 49.5%;
  margin: 0 0.25%
}
.col-40 {
  width: 39.5%;
  margin: 0 0.25%
}
.logo img {
  width: auto;
  height: 120px;
}
.clearfix::before, .clearfix::after {
  content: " ";
  display: table;

}

.clearfix::after {
  clear: both;
}
td.bold {
  font-weight: 600;
  line-height: 18px;
}
table {
    width: 100%;
    font-size: 20px;
}
table tr td {
  width: 25%;
    line-height: 25px;
}
h1.title {
  margin: 0;
}
</style>

<div class="header">
  <div class="row row-sm">
    <div class="col-50 logo">
      <img src="http://www.zerochaos.com/PDF/PdfImages/Madeo_finland.png" alt="logo" />
    </div>
    <div class="col-50">
      <div class="round-box col-100">
        <h1 class="title">Invoice</h1>
      </div>
      <div class="round-box col-60">
        <div>Invoice No</div>
        <span>ZCCINTP000000009</span>
      </div>
      <div class="round-box col-40">
        <div>Invoice Date</div>
        <span>2013-06-30</span>
      </div>
    </div>
  </div>
  <div class="row row-lg">
    <div class="round-box col-50">
      <table>
        <tr>
          <td>Delivery Address</td>
        </tr>
        <tr>
          <td class="bold">International Paper Polska Sp. z o. o.</td>
        </tr>
        <tr>
          <td class="bold">Lubicz 23</td>
        </tr>
        <tr>
          <td class="bold">31-503 Kraków, PL</td>
        </tr>
      </table>
    </div>
    <div class="round-box col-50">
      <table>
        <tr>
          <td>Invoice Address</td>
        </tr>
        <tr>
          <td class="bold">International Paper Polska Sp. z o. o.</td>
        </tr>
        <tr>
          <td class="bold">Lubicz 23</td>
        </tr>
        <tr>
          <td class="bold">31-503 Kraków, PL</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row-table">
    <table>
      <tr>
        <td>Checker</td>
        <td></td>
        <td>Our Reference</td>
        <td></td>
      </tr>
      <tr>
        <td>PO Number</td>
        <td></td>
        <td>Our Order No</td>
        <td></td>
      </tr>
      <tr>
        <td>Terms of Delivery</td>
        <td> </td>
        <td>Terms of Payment</td>
        <td>14 days</td>
      </tr>
      <tr>
        <td>Transported by</td>
        <td> </td>
        <td>Date Due</td>
        <td>2013-07-14</td>
      </tr>
      <tr>
        <td></td>
        <td> </td>
        <td>Penalty Interest</td>
        <td>9.50 %</td>
      </tr>
    </table>
  </div>
  <div class="clearfix"></div>
</div>
