@inherits Westwind.RazorHosting.RazorTemplateBase

<style>
* {
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}
body{
  font-size: 20px;
}

.footer {
  width: 85%;
  margin: 0 auto;
}

.round-box {
  border: 4px solid #000;
  border-radius: 12px;
  padding: 12px;
}

.logo img {
  width: auto;
  height: 120px;
}
table {
  width: 100%;
  font-size: 20px;
}
table tr td {
  line-height: 25px;
}
</style>

<div class="footer">
  <div class="round-box">
    <div class="row-table">
      <table>
        <tr>
          <td style="width:25%;">SWIFT-Address</td>
          <td style="width:25%;">Account Number</td>
          <td style="width:25%;">Bank</td>
          <td style="width:25%;">Address</td>
        </tr>
        <tr>
          <td style="width:25%;">ESSESESS</td>
          <td style="width:25%;">5555-1000893</td>
          <td style="width:25%;">SEB</td>
          <td style="width:25%;">Kungstradgardsgatan 8</td>
        </tr>
        <tr>
          <td style="width:25%;">Countrycode</td>
          <td style="width:25%;">IBAN</td>
          <td style="width:25%;"></td>
          <td style="width:25%;"></td>
        </tr>
        <tr>
          <td style="width:25%;">SE</td>
          <td style="width:25%;">SE2150000000055551000893</td>
          <td style="width:25%;"></td>
          <td style="width:25%;">SE-106 40 Stockholm, Sweden</td>
        </tr>
      </table>
    </div>
  </div>
  <table>
    <tr>
      <td style="width:25%;">Adress</td>
      <td style="width:25%;">Telefon</td>
      <td style="width:25%;">Bankgiro</td>
      <td style="width:25%;">Internet</td>
    </tr>
    <tr>
      <td style="width:25%;">Sveavagen 13 11tr</td>
      <td style="width:25%;">+46-8-664 80 00</td>
      <td style="width:25%;">5659-3486</td>
      <td style="width:25%;">www.zerochaos.com</td>
    </tr>
    <tr>
      <td style="width:25%;">111 57 Stockholm</td>
      <td style="width:25%;">Fax</td>
      <td style="width:25%;">Organisationsnr</td>
      <td style="width:25%;">Momsreg.nr.</td>
    </tr>
    <tr>
      <td style="width:25%;">Sweden</td>
      <td style="width:25%;">+46-8-664 80 01</td>
      <td style="width:25%;">556608-5089</td>
      <td style="width:25%;">SE556608508901 ZeroChaos är godkänd för F-skatt</td>
    </tr>
  </table>
  <div class="clearfix"></div>
</div>
