@inherits Westwind.RazorHosting.RazorTemplateBase

<style>
* {
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}
body{
  font-size: 20px;
}

.footer {
  width: 85%;
  margin: 0 auto;
}

.round-box {
  border: 4px solid #000;
  border-radius: 12px;
  padding: 12px;
}

.logo img {
  width: auto;
  height: 120px;
}
table {
  width: 100%;
  font-size: 20px;
}
table tr td {
  line-height: 25px;
}
</style>

<div class="footer">
  <div class="round-box">
    <div class="row-table">
      <table>
        <tr>
          <td>Name</td>
          <td>Countrycode</td>
          <td>IBAN</td>
          <td>Ref. Detail</td>
        </tr>
        <tr>
          <td>Zerochaos AB</td>
          <td>SE</td>
          <td>SE7950000000059378239706</td>
          <td>6080000102478</td>
        </tr>
        <tr>
          <td>SWIFT-Address</td>
          <td>Account Number</td>
          <td>Bank</td>
          <td>Address</td>
        </tr>
        <tr>
          <td>ESSESESSXXX</td>
          <td>5552-8201918</td>
          <td>SKANDINAVISKA ENSKILDA BANKEN</td>
          <td>Kungstradgardsgatan 8 SE-106 40 Stockholm, Sweden</td>
        </tr>
      </table>
    </div>
  </div>
  <table>
    <tr>
      <td>Adress</td>
      <td>Telefon</td>
      <td>Bankgiro</td>
      <td>Internet</td>
    </tr>
    <tr>
      <td>Sveavagen 13 11tr</td>
      <td>+46-8-664 80 00</td>
      <td>5659-3486</td>
      <td>www.zerochaos.com</td>
    </tr>
    <tr>
      <td>111 57 Stockholm</td>
      <td>Fax</td>
      <td>Organisationsnr</td>
      <td>Momsreg.nr.</td>
    </tr>
    <tr>
      <td>Sweden</td>
      <td>+46-8-664 80 01</td>
      <td>556608-5089</td>
      <td>SE556608508901 ZeroChaos är godkänd för F-skatt</td>
    </tr>
  </table>
  <div class="clearfix"></div>
</div>
