@inherits Westwind.RazorHosting.RazorTemplateBase

<style>
* {
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}
body{
  font-size: 20px;
}

.footer {
  width: 95%;
  margin: 0 auto;
}

.round-box {
  border: 3px solid #000;
  border-radius: 20px;
  padding: 12px;
}

.logo img {
  width: auto;
  height: 120px;
}
table {
  width: 100%;
  font-size: 20px;
}
table tr td {
  line-height: 25px;
}
</style>

<div class="footer">
  <div class="round-box">
    <div class="row-table">
      <table>
        <tr>
          <td style="font-weight:600;">Telefon</td>
          <td style="font-weight:600;">Numer konta</td>
          <td style="font-weight:600;">Bank</td>
        </tr>

          <tr>
            <td>222634100</td>
            <td>PL37 2370 0008 0000 0000 2021 5009</td>
            <td>SEB</td>
          </tr>
            <tr>
              <td style="font-weight:600;">Fax</td>
              <td style="font-weight:600;">NIP</td>
              <td style="font-weight:600;">BIC</td>
            </tr>

              <tr>
                <td>222634199</td>
                <td>525-24-61-507</td>
                <td>ESSEPLPW</td>
              </tr>
                <tr>
                  <td style="font-weight:600;">KRS</td>
                  <td style="font-weight:600;"></td>
                  <td style="font-weight:600;">IBAN</td>
                </tr>

                  <tr>
                    <td>0000334189</td>
                    <td></td>
                    <td>PL37 2370 0008 0000 0000 2021 5009</td>
                  </tr>
      </table>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
